<h1 class="page-header text-center"><%= @book.title %></h1>
<p class="lead text-center">by
  <% @book.authors.each_with_index do |author, index| %>
    <%= author.full_name %>
    <% if index.==(@book.authors.length.-(1)) %>

    <% elsif index.==(@book.authors.length.-(2)) %>
       and
    <% else %>
      ,
    <% end %>
  <% end %>
</p>

<div class="row move-down">
  <div class="col-sm-6 col-sm-offset-3">

    <form actions="/books" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <label target="title">Title:</label>
        <input id="title" name="title" class="form-control" value="<%= @book.title %>" required>
      </div>
      <div class="form-group">
        <label target="author_first_name">Author First Name:</label>
        <input name="author_first_name" class="form-control" value="" required>
      </div>
      <div class="form-group">
        <label target="author_last_name">Author Last Name:</label>
        <input name="author_last_name" class="form-control" value="" required>
      </div>
      <button type="submit" class="btn btn-default stretch">Update this book's author or title</button>
    </form>

    <form actions="/books" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger stretch">Delete this book</a>
    </form>
  </div>
</div>

<a href="/books/lookup" class="back-link">< Back</a>
