<h1 class="page-header text-center">Welcome to the Library!</h1>

<div class="row">
  <p class="text-center">Please select an option below:</p>
  <div class="col-sm-6 col-sm-offset-3">
    <a href="/books" class="btn btn-default" role="button">Librarian</a>
    <a href="/patrons" class="btn btn-default" role="button">Patron</a>
  </div>
</div>
