<h1 class="page-header text-center">Welcome to the Library!</h1>

<div class="row login-wrapper move-down">
  <p class="text-center lead">Please select an option below:</p>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="col-sm-6 text-center">
      <a href="/books/home" class="btn btn-default" role="button">Librarian</a>
    </div>
    <div class="col-sm-6 text-center">
      <a href="/patrons/login" class="btn btn-default" role="button">Visiter</a>
    </div>
  </div>
</div>
