<h1 class="page-header text-center">Login</h1>

<p class="lead text-center move-down">Please enter your library number</p>

<div class="row move-down">
  <div class="col-xs-6 col-xs-offset-3">
    <form action="/patrons" method="post">
      <div class="form-group">
        <input type="" class="form-control stretch" id="last_name" name="last_name" placeholder="First Name">
      </div>
      <div class="form-group">
        <input type="" class="form-control stretch" id="first_name" name="first_name" placeholder="Last Name">
      </div>
      <button class="btn btn-default stretch">Login</a>
    </form>
  </div>
</div>
