<h1 class="page-header text-center">Libary User</h1>

<div class="row move-down">
  <div class="col-xs-6 col-xs-offset-3">
      <a href="/books/lookup" class="btn btn-default stretch" role="button">Lookup a book</a>
      <a href="#" class="btn btn-default stretch" role="button">View my checkout history</a>
  </div>
</div>
